<div class="flex flex-row justify-center">
  <div class="flex flex-col">
    <div class="flex flex-row justify-center">
      <span class="justify-center font-semibold">Get started</span>
    </div>
    <div class="flex flex-row pt-5 space-x-10">
      <span><%= link_to "Link", "#", class: "button" %></span>
    </div>
  </div>
</div>
